
body, body * {font-family:Arial, Helvetica, sans-serif; font-size:12px}

/* Main Layout */
html,body{margin:0; padding:0; width:100vw; height:100vh; overflow:hidden; position:relative;}

.previewWrapper{width:100vw; height:100vh; display:flex; position:relative}
    .previewWrapper img{
        position:absolute; top:0; left:0; 
        width:100%; height:100%; margin:auto; object-fit:contain;
        border:none; outline:none;
    }

.configWrapper{
    position:absolute; top:10px; right:10px; z-index:500;
    box-sizing:border-box; width:270px; height:calc(100vh - 20px); padding:10px; overflow-x:hidden;
    background:rgba(0,0,0,0.8); border-radius:16px; color:#eee;
}


/* Images */
.imgWrapper{opacity:0; visibility:0;}
    .imgWrapper.current{opacity:1; visibility:1;}

.navWrapper{
    position:absolute; bottom:10px; left:10px; z-index:480;
    width:calc(100vw - 20px); overflow:hidden;
    display:flex; justify-content:center; flex-wrap:wrap;
}
.navBtn{
    display:block; width:30px; height:30px; margin:0; padding:0; 
    background:#ddd; border:1px solid #ccc; outline:none;
    cursor:pointer;
}
    .navBtn:first-child{border-radius:5px 0 0 5px;}
    .navBtn:last-child{border-radius:0 5px 5px 0;}

    .navBtn:hover{background:#fff}
    .navBtn.current{background:#c00; border-color:#c00; color:#fff}


.img_Bgr{z-index:1}

.img_Comp{display:none;}
.img_TvBody{z-index:10}
.img_TvFront{z-index:15}
.img_TvTop{z-index:20}
.img_Wall{z-index:25}
.img_Shelf{z-index:30}

/* Options */
.componentOptions{margin:0 0 10px; padding:0 5px 7px; box-sizing:border-box; border-bottom:2px solid rgba(255,255,255,0.2)}
.componentLabel{display:inline-block; margin:0 0 5px; font-size:12px; font-weight:bold; color:#aaa;}

.componentOptionLabel{position:relative; display:inline-flex; margin:0 10px 0 0; cursor:pointer;}
.componentOptionValue{margin:0 5px 0 0; width:14px; height:14px; line-height:14px}

    .componentOptionLabel>input{opacity:0}
    .componentOptionLabel>span{
        display:block; width:30px; height:30px; margin-left:-19px; 
        font-size:0; text-indent:-9999;
        background:rgba(0,0,0,0.2); border:2px solid #333; border-radius:3px;
    }
    .componentOptionLabel:hover>span{border-color:#ddd; box-shadow:0 0 10px rgba(255,255,255,0.4)}
    .componentOptionLabel>input:checked+span{border-color:#c00; box-shadow:0 0 10px rgba(255,0,0,0.4)}


    .componentOptions[data-component="Shelf"],
    .componentOptions[data-component="Wall"]
    {margin-bottom:30px}



/* Images Loader */
.imgLoaderOverlay {position:fixed; top:0; left:0; right:0; bottom:0; z-index:9999; background:rgba(255,255,255,0.8); display:flex;}
.imgLoaderOverlay>div{padding:15px; margin:auto; box-sizing:border-box; background:#fff; box-shadow:0 0 5px rgba(0,0,0,0.2); text-align:center}
.imgLoaderOverlay h1{font-size:13px; font-weight:bold; margin:0 0 5px; color:#666}
.imgLoaderOverlay h2{font-size:12px; font-weight:bold; margin:0;}